
<div class="container">
  <h1 style="padding-top: 30px;">Todos Management</h1>
  <div class="index-info">
    <div class="index-item">
      <label style="font-weight: bold;">100</label>
      <label>ToDos</label>
    </div>
    <div class="index-item">
      <label style="font-weight: bold;">100</label>
      <label>Active</label>
    </div>
    <div class="index-item">
      <label style="font-weight: bold;">100</label>
      <label>Completed</label>
    </div>
  </div>
</div>
<div class="tab-view">
  <p-tabView>
    <p-tabPanel >
      <ng-template pTemplate="header">
        <div>
          <label class="count"> {{count}}</label>
          <label> ToDos</label>
        </div>
      </ng-template>
      <app-todo-item></app-todo-item>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <div>
          <label class="count"> {{count}}</label>
          <label> Active</label>
        </div>
      </ng-template>
      <app-todo-item></app-todo-item>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <div>
          <label class="count"> {{count}}</label>
          <label> Completed</label>
        </div>
      </ng-template>
      <app-todo-item></app-todo-item>
    </p-tabPanel>
  </p-tabView>

</div>
