.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: rgb(44, 117, 244);
  background: linear-gradient(90deg, rgba(44, 117, 244, 1) 0%, rgba(29, 91, 199, 1) 52%, rgba(16, 65, 149, 1) 100%);
}

.index-info {
  position: relative;
  top: 40px;
  display: flex;
  gap: 40px;
  width: max-content;
  padding: 20px;
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 0px 29px 0px;
  background-color: white;
}

.index-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
  font-size: 24px;
}

.tab-view {
  padding-top: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.count {
  border-radius: 50%;
  border: 1px solid black;
  // padding: 5px;
  // padding-right: 5px;
  background: rgb(242, 238, 238);
  font-size: 11px;
}

.dragable-items{
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 20px;
}
.card-item{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}
