<div class="container">
  <h1 style="padding-top: 30px;">Todos Management</h1>
  <div class="index-info">
    <div class="index-item">
      <label style="font-weight: bold;">100</label>
      <label>ToDos</label>
    </div>
    <div class="index-item">
      <label style="font-weight: bold;">100</label>
      <label>Active</label>
    </div>
    <div class="index-item">
      <label style="font-weight: bold;">100</label>
      <label>Completed</label>
    </div>
  </div>
</div>
<div class="tab-view">
  <!-- <div *ngFor="let header of headers">
    <label class="count" [ngStyle]="calcularDiametroCounter(count)"> {{count}}</label>
    <label>{{header}}</label>
  </div> -->
</div>
<div class="dragable-items">
  <div class="card-item" >
    <app-todo-item [id]="1"></app-todo-item>
  </div>
  <div class="card-item" >
    <app-todo-item [id]="2"></app-todo-item>
  </div>
  <div class="card-item" >
    <app-todo-item [id]="3"></app-todo-item>
  </div>
</div>
