.card{
  border-radius: 9px;
  border-left: 7px solid red;
  background-color: #fffbfb;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}
.card-header{
  display: flex;
  justify-content: space-between;
}
